terraform.tfstate
.terraform/modules/modules.json
.terraform.lock.hcl
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_386/terraform-provider-azurerm_v3.0.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_386/terraform-provider-random_v3.4.3_x5.exe
